*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .content{
    background: red;
    border-radius: 0px;
    color: #FFF;
    top: 20px;
    height: 100px;
    text-align: left;
    
} */

.title{
    font-size: 32px;
    text-align: left;
    padding-top: 50px;
    padding-left: 20px;
}

.header{
    box-shadow: rgba(0, 0, 0, 0.34) 0px 2px 8px;
    height: 120px;
    width: 100%;
    color: white;
    background-color: rgb(211, 19, 19);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}