.navbar-button{
    display: inline;
    width: 25%;
    text-align: center;
    /* border: solid 1px black; */
}

.navbar-button focus{
    background-color: rgba(0,0,0,0.1);
}

.navbar-button:hover{
   cursor: pointer;
}

.active{
    background-color: rgba(143, 146, 187, 0.5);
    /* padding-bottom: 0.25rem; */
    /* border-bottom: 2px solid #95bcf0; */
}

.image{
    width: 50%;
}