.login {
  text-align: center;
}

.login-buttons {
  width: 35rem;
  max-width: 90%;
  margin: 3rem auto;
}

.login h1{
    color: rgba(6, 111, 160, 0.54)
}

.password-link {
    margin-top: -40px;
    color: black;
    text-decoration: underline;
    
}

.password-link:hover{
    cursor:pointer;
}

.App-logo {
  margin-top: 40px;
  height: 60vmin;
  pointer-events: none;
}

.form {
    margin-bottom: 20px;
}

.form-control {
    margin: 0.5rem 0;
  }
  .form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
   
  .form-control input:focus {
    outline: none;
    background: #d0d6fa;
    border-color: #0e008b;
  }

.form-control.invalid input {
    border-color: red;
    background: #ffd7d7;
  }
  
  .form-control.invalid label {
    color: red;
  }